

   <mat-card>
    <mat-card-content>
        <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
          &nbsp;&nbsp;&nbsp;&nbsp;

          <mat-form-field appearance="fill">
            <mat-label>Enter your Password</mat-label>
            <input  type="password" matInput [formControl]="password" required>
            <mat-error *ngIf="password.invalid">Password Is Required</mat-error>
          </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="login()">Sign In</button>
        <button mat-raised-button color="accent" (click)="signUp()">Sign Up</button>
        <button mat-raised-button color="warn" (click)="loginWithGoogle()">Google Login</button>
    </mat-card-actions>
   </mat-card>